{{> header }}

<div class="container">
    {{> navbar }}
    <div class="jumbotron">
        <h1 class="display-4">Desarrollado por Jonathan Guerra</h1>
    </div>
</div>
 <div class="container">

{{> footer}}   